<!-- Repo View Component -->
<div class="flex flex-col w-full gap-2 my-5">
  <!-- Repo Name -->
  <div class="w-full flex gap-2 items-center leading-7 [&:not(:first-child)]:mt-6" id="repo-name">
    <a [href]="data?.html_url" class="scroll-m-20 text-xl font-semibold tracking-tight text-[#F8FAFC]">{{
      data?.name
    }}</a>
    <div
      class="rounded-[2rem] my-0 h-fit font-medium border-[#C72323] text-[#DC2626] text-xs px-2 py-0 border"
    >
      {{ data?.private ? "Private" : "Public" }}
    </div>
  </div>
  <!-- Repo Description -->
  <div class="flex justify-between w-full items-end">
    <div class="flex flex-col gap-2 w-4/5">
      <p class="text-sm font-medium leading-none text-[#F8FAFC]">
        {{ data?.description !== null ? data?.description : "No Description" }}
      </p>
      <!-- Tags Display from Tag Data-->
      <div class="flex flex-wrap gap-2 items-center">
        <button
          class="bg-[#C72323] bg-opacity-3 text-[#F8FAFC] rounded-lg px-4 py-1.5"
          *ngFor="let topic of data?.topics"
        >
          {{ topic }}
        </button>
        <!--Stars-->
        <div class="text-[#F8FAFC] flex gap-1 items-center justify-center">
          ✩
          {{ data?.stargazers_count }}
        </div>
      </div>
    </div>
    <!-- Last Commit Details -->
    <div class="text-end w-1/5">
      <div class=" text-sm text-muted-foreground min-w-[150px] text-[#F8FAFC] mt-5 text-end">
        Last commit&nbsp;<time datetime="2023-01-23T13:23Z">{{
          getElapsedTime(data?.updated_at)
        }}</time>
      </div>
    </div>
  </div>
</div>
